absl-py==2.3.1
addict==2.4.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==5.0.1
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
boto3==1.37.38
botocore==1.37.38
brotlipy==0.7.0
cachetools==5.2.0
catboost==1.2.8
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
cloudpickle==3.1.1
conda==4.10.3
conda-package-handling==1.7.3
contourpy==1.1.1
copulas==0.12.3
cryptography==3.4.7
ctgan==0.11.0
cvxpy==1.3.1
cycler==0.11.0
cython==3.1.2
debugpy==1.6.0
decorator==4.4.2
deepecho==0.7.0
defusedxml==0.7.1
dgl==1.0.0+cu113
dm-tree==0.1.8
easydict==1.10
ecos==2.0.14
einops==0.3.0
entrypoints==0.4
et-xmlfile==2.0.0
executing==0.8.3
Faker==35.2.2
fast-tmfg==0.0.12
fastjsonschema==2.15.3
filelock==3.16.1
flatbuffers==25.2.10
fonttools==4.33.3
frozenlist==1.5.0
fsspec==2025.2.0
gast==0.4.0
google-auth==2.8.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.46.3
gym==0.21.0
h5py==3.11.0
huggingface-hub==0.29.1
idna==2.10
imbalanced-learn==0.12.4
imblearn==0.0
immutabledict==4.2.2
importlib-metadata==4.13.0
importlib-resources==5.8.0
iniconfig==2.1.0
iopath==0.1.10
ipykernel==6.15.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.4.2
json5==0.9.8
jsonschema==4.6.0
jupyter-client==7.3.4
jupyter-core==4.10.0
jupyter-server==1.17.1
jupyterlab==3.4.3
jupyterlab-language-pack-zh-CN==3.4.post1
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
jupyterlab-widgets==1.1.0
kaleido==0.2.1
keras==2.11.0
kiwisolver==1.4.3
libclang==18.1.1
lightgbm==4.6.0
lightning-utilities==0.11.9
llvmlite==0.41.1
Markdown==3.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.3
mdurl==0.1.2
mistune==0.8.4
mlfinlab==0.5.0
mmengine==0.7.2
mpmath==1.3.0
multidict==6.1.0
narwhals==1.29.0
nbclassic==0.3.7
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==3.1
notebook==6.4.12
notebook-shim==0.1.0
numba==0.58.1
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
opencv-python==4.11.0.86
openpyxl==3.1.5
opt-einsum==3.4.0
optbinning==0.20.1
ortools==9.11.4210
osqp==0.6.7.post3
packaging==25.0
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
patsy==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pip==21.1.3
platformdirs==4.3.6
plotly==6.0.0
pluggy==1.5.0
pmlb==1.0.1.post3
portalocker==3.0.0
prettytable==3.11.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
propcache==0.2.0
protobuf==3.20.3
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyaml==25.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
pygments==2.19.1
pyOpenSSL==20.0.1
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks==1.7.1
pytest==6.2.5
python-dateutil==2.9.0.post0
pytorch-lightning==2.4.0
pytorch-tabnet==4.1.0
pytz==2022.1
PyYAML==6.0.2
pyzmq==23.2.0
qdldl==0.1.7.post5
rdt==1.18.0
requests==2.25.1
requests-oauthlib==1.3.1
rich==13.9.4
ropwr==1.1.0
rsa==4.8
ruamel-yaml-conda==0.15.100
s3transfer==0.11.5
safetensors==0.5.3
scikit-learn==1.2.2
scikit-optimize==0.10.2
scipy==1.10.1
scs==3.2.7.post2
sdmetrics==0.23.0
sdv==1.26.0
seaborn==0.13.2
Send2Trash==1.8.0
setuptools==75.3.2
shap==0.44.1
six==1.16.0
slicer==0.0.7
sniffio==1.2.0
soupsieve==2.3.2.post1
stable-baselines3==1.6.2
stack-data==0.3.0
statsmodels==0.14.1
supervisor==4.2.4
sympy==1.13.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-probability==0.19.0
termcolor==2.4.0
terminado==0.15.0
threadpoolctl==3.5.0
timm==0.9.2
tinycss2==1.1.1
toml==0.10.2
tomli==2.2.1
torch==1.11.0
torch-cluster==1.6.0
torch-geometric==2.2.0
torch-geometric-temporal==0.56.2
torch-scatter==2.0.9
torch-sparse==0.6.15
torch-spline-conv==1.2.1
torchmetrics==1.5.2
torchvision==0.12.0+cu113
tornado==6.1
tqdm==4.61.2
traitlets==5.3.0
triton==3.0.0
ts3l==0.70
typeguard==2.13.3
typing==3.7.4.3
typing-extensions==4.13.2
tzdata==2025.2
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.1.2
wheel==0.36.2
widgetsnbextension==3.6.0
wrapt==1.17.2
xgboost==2.1.4
yapf==0.43.0
yarl==1.15.2
ydata-synthetic==1.0.1
zipp==3.8.0
